<mat-toolbar color="primary">
    <h1>3rd View</h1>
    <button mat-button >
      <span>WHY US?</span>
    </button >
    <button mat-button >
      <span>ABOUT</span>
    </button>
    <button mat-button >
      <span>BLOG</span>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with favorite icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with shopping_cart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with account_box icon">
      <mat-icon>account_box</mat-icon>
    </button>
</mat-toolbar>
